@use "../helpers" as *;

.field {
    --fieldInpuHeight: var(--input-height);
    --fieldInputTextColor: var(--color-dark);
    --fieldInputBgColor: var(--color-light);
    --fieldInputBorderColor: var(--color-dark);
    --fieldInputInputPlaceholderColor: var(--color-dark-alt);
    --fieldInputHoverBgColor: var(--color-accent);

    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 5px;

    @include mobile {
        row-gap: 10px;
    }

    &--big-height {
        --fieldInpuHeigh: var(--button-height);
    }

    &--dark-bg {
        --fieldInputBgColor: var(--color-dark-alt);
        --fieldInputBorderColor: var(--color-light);
        --fieldInputInputPlaceholderColor: var(--color-light);
        --fieldInputHoverBgColor: var(--color-dark);
        --fieldInputTextColor: var(--color-accent);
    }

    &__label {
        @include fluid-text(16, 14);
    }

    &__input {
        width: 100%;
        height: var(--fieldInpuHeight);
        padding-inline: 30px;
        color: var(--fieldInputTextColor);
        background-color: var(--fieldInputBgColor);
        border: 1px solid var(--fieldInputBorderColor);
        border-radius: var(--border-radius);

        @include hover {
            background-color: var(--fieldInputHoverBgColor);
        }

        @include mobile {
            padding-inline: 20px;
        }

        &:focus {
            border-color: var(--color-accent);
            outline: none;
        }

        &::placeholder {
            color: var(--fieldInputInputPlaceholderColor);
        }

        &--textarea {
            height: 190px;
            padding-block: 18px;
            resize: none;

            @include mobile {
                height: 132px;
            }
        }
    }
}
